.xmv-date-picker {
    --xmv-datepicker-text-color: var(--xmv-text-color-regular);
    --xmv-datepicker-off-text-color: var(--xmv-text-color-placeholder);
    --xmv-datepicker-header-text-color: var(--xmv-text-color-regular);
    --xmv-datepicker-icon-color: var(--xmv-text-color-primary);
    --xmv-datepicker-border-color: var(--xmv-disabled-border-color);
    --xmv-datepicker-inner-border-color: var(--xmv-border-color-light);
    --xmv-datepicker-inrange-bg-color: var(--xmv-border-color-extra-light);
    --xmv-datepicker-inrange-hover-bg-color: var(--xmv-border-color-extra-light);
    --xmv-datepicker-active-color: var(--xmv-color-primary);
    --xmv-datepicker-hover-text-color: var(--xmv-color-primary);
}

.xmv-date-editor {
    --xmv-date-editor-width: 220px;
    --xmv-date-editor-monthrange-width: 300px;
    --xmv-date-editor-daterange-width: 350px;
    --xmv-date-editor-datetimerange-width: 400px;
    --xmv-input-text-color: var(--xmv-text-color-regular);
    --xmv-input-border: var(--xmv-border);
    --xmv-input-hover-border: var(--xmv-border-color-hover);
    --xmv-input-focus-border: var(--xmv-color-primary);
    --xmv-input-transparent-border: 0 0 0 1px transparent inset;
    --xmv-input-border-color: var(--xmv-border-color);
    --xmv-input-border-radius: var(--xmv-border-radius-base);
    --xmv-input-bg-color: var(--xmv-fill-color-blank);
    --xmv-input-icon-color: var(--xmv-text-color-placeholder);
    --xmv-input-placeholder-color: var(--xmv-text-color-placeholder);
    --xmv-input-hover-border-color: var(--xmv-border-color-hover);
    --xmv-input-clear-hover-color: var(--xmv-text-color-secondary);
    --xmv-input-focus-border-color: var(--xmv-color-primary);
    position: relative;
    display: inline-block;
    text-align: left;
}

.xmv-date-time-range-picker{
    --xmv-date-editor-daterange-width: 400px;
}

.xmv-date-editor--daterange, .xmv-date-editor--timerange {
    --xmv-date-editor-width: var(--xmv-date-editor-daterange-width);
}

.xmv-date-range-picker {
    --xmv-datepicker-text-color: var(--xmv-text-color-regular);
    --xmv-datepicker-off-text-color: var(--xmv-text-color-placeholder);
    --xmv-datepicker-header-text-color: var(--xmv-text-color-regular);
    --xmv-datepicker-icon-color: var(--xmv-text-color-primary);
    --xmv-datepicker-border-color: var(--xmv-disabled-border-color);
    --xmv-datepicker-inner-border-color: var(--xmv-border-color-light);
    --xmv-datepicker-inrange-bg-color: var(--xmv-border-color-extra-light);
    --xmv-datepicker-inrange-hover-bg-color: var(--xmv-border-color-extra-light);
    --xmv-datepicker-active-color: var(--xmv-color-primary);
    --xmv-datepicker-hover-text-color: var(--xmv-color-primary);
}