.xmv-icon {
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: inherit;
    font-size: inherit;
}

.xmv-icon svg {
    height: 1em;
    width: 1em;
}

.xmv-icon.is-loading {
    animation: xmv-rotating 2s linear infinite;
}

.xmv-icon--left {
    margin-right: 5px;
}

.xmv-icon--right {
    margin-left: 5px;
}